ul{
    text-align: left;
    padding-inline-start: 0px;
}

.forecastbox {
    margin-top: 15px;
    margin-bottom: 10px;
    background: rgb(64, 118, 236);
    color: white;
    width: 18%;
    height:170px;
    margin-right: 13px;
    margin-left: 13px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: small;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.container{
    margin-bottom: 50px;
}

.uvred{
    background: crimson;
    color: white;
}

.btn{
    text-align: start;
    font-size: 18px;
    border-bottom: 1px solid hsl(0, 1%, 83%);

}

#citieslist{
    display: grid;
}

#footer{
    margin-top: 100px;
}

#first {
    height: 85px;
    width: 85px;
}